In [5]:
import pandas as pd
#Modify excel and convert to csv
excel_file = 'Game/Buildings/building_requirements/all_buildings.xlsx'
sheets_dict = pd.read_excel(excel_file, sheet_name=None)
"""for sheet_name, df in sheets_dict.items():
    csv_file_name = f"Game/Buildings/building_requirements/{sheet_name}.csv" 
    df.to_csv(csv_file_name, index=False)"""
print(sheets_dict.keys())
table = pd.read_csv('Game/Buildings/building_requirements/headquarters.csv')
table.tail(5)#table[table['level'] == 1].iloc[0].to_dict()
#table['level'].to_list()

dict_keys(['timber', 'clay', 'iron', 'watchtower', 'wall', 'hiding_place', 'warehouse', 'farm', 'market', 'statue', 'rally_point', 'smithy', 'academy', 'first_church', 'church', 'workshop', 'stable', 'barracks', 'headquarters'])

    level   wood   clay   iron workers/total  time_factor
25     26  29074  34741  22613     37 /  253         0.28
26     27  36633  44295  28493     43 /  296         0.27
27     28  46158  56476  35901     51 /  347         0.26
28     29  58159  72007  45235     59 /  406         0.24
29     30  73280  91809  56996     69 /  475         0.23

In [14]:
table = pd.read_csv(f"Game/Points/points.csv")
table = table.astype(float)
table

,level,headquarters,barracks,stable,garage,church,first_church,watch_tower,academy,smithy,place,statue,market,timber,clay,iron,farm,warehouse,hiding_place,wall
0,1.0,10.0,16.0,20.0,24.0,10.0,10.0,42.0,512.0,19.0,0.0,24.0,10.0,6.0,6.0,6.0,5.0,6.0,5.0,8.0
1,2.0,2.0,3.0,4.0,5.0,2.0,NaN,8.0,NaN,4.0,NaN,NaN,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0
2,3.0,2.0,4.0,5.0,6.0,2.0,NaN,10.0,NaN,4.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0
3,4.0,3.0,5.0,6.0,6.0,NaN,NaN,13.0,NaN,6.0,NaN,NaN,3.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0
4,5.0,4.0,5.0,6.0,9.0,NaN,NaN,14.0,NaN,6.0,NaN,NaN,4.0,2.0,2.0,2.0,1.0,2.0,1.0,3.0
5,6.0,4.0,7.0,9.0,10.0,NaN,NaN,18.0,NaN,8.0,NaN,NaN,4.0,3.0,3.0,3.0,2.0,3.0,2.0,3.0
6,7.0,5.0,8.0,10.0,12.0,NaN,NaN,20.0,NaN,10.0,NaN,NaN,5.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0
7,8.0,6.0,9.0,12.0,14.0,NaN,NaN,25.0,NaN,11.0,NaN,NaN,6.0,3.0,3.0,3.0,3.0,3.0,3.0,5.0
8,9.0,7.0,12.0,14.0,17.0,NaN,NaN,31.0,NaN,14.0,NaN,NaN,7.0,5.0,5.0,5.0,3.0,5.0,3.0,5.0
9,10.0,9.0,14.0,17.0,21.0,NaN,NaN,36.0,NaN,16.0,NaN,NaN,9.0,5.0,5.0,5.0,5.0,5.0,5.0,7.0
10,11.0,10.0,16.0,21.0,25.0,NaN,NaN,43.0,NaN,20.0,NaN,NaN,10.0,6.0,6.0,6.0,5.0,6.0,NaN,9.0
11,12.0,12.0,20.0,25.0,29.0,NaN,NaN,52.0,NaN,23.0,NaN,NaN,12.0,8.0,8.0,8.0,6.0,8.0,NaN,9.0
12,13.0,15.0,24.0,29.0,36.0,NaN,NaN,62.0,NaN,28.0,NaN,NaN,15.0,8.0,8.0,8.0,8.0,8.0,NaN,12.0
13,14.0,18.0,28.0,36.0,43.0,NaN,NaN,75.0,NaN,34.0,NaN,NaN,18.0,11.0,11.0,11.0,8.0,11.0,NaN,15.0
14,15.0,21.0,34.0,43.0,51.0,NaN,NaN,90.0,NaN,41.0,NaN,NaN,21.0,13.0,13.0,13.0,11.0,13.0,NaN,17.0
15,16.0,26.0,42.0,51.0,NaN,NaN,NaN,108.0,NaN,49.0,NaN,NaN,26.0,15.0,15.0,15.0,13.0,15.0,NaN,20.0
16,17.0,31.0,49.0,62.0,NaN,NaN,NaN,130.0,NaN,58.0,NaN,NaN,31.0,19.0,19.0,19.0,15.0,19.0,NaN,25.0
17,18.0,37.0,59.0,74.0,NaN,NaN,NaN,155.0,NaN,71.0,NaN,NaN,37.0,22.0,22.0,22.0,19.0,22.0,NaN,29.0
18,19.0,44.0,71.0,88.0,NaN,NaN,NaN,186.0,NaN,84.0,NaN,NaN,44.0,27.0,27.0,27.0,22.0,27.0,NaN,36.0
19,20.0,53.0,85.0,107.0,NaN,NaN,NaN,224.0,NaN,101.0,NaN,NaN,53.0,32.0,32.0,32.0,27.0,32.0,NaN,43.0
20,21.0,64.0,102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,38.0,38.0,38.0,32.0,38.0,NaN,NaN
21,22.0,77.0,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.0,46.0,46.0,46.0,38.0,46.0,NaN,NaN
22,23.0,92.0,147.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,55.0,55.0,55.0,46.0,55.0,NaN,NaN
23,24.0,110.0,177.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.0,66.0,66.0,66.0,55.0,66.0,NaN,NaN
24,25.0,133.0,212.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133.0,80.0,80.0,80.0,66.0,80.0,NaN,NaN
25,26.0,159.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.0,95.0,95.0,80.0,95.0,NaN,NaN
26,27.0,191.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115.0,115.0,115.0,95.0,115.0,NaN,NaN
27,28.0,229.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,137.0,137.0,137.0,115.0,137.0,NaN,NaN
28,29.0,274.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,165.0,165.0,165.0,137.0,165.0,NaN,NaN
29,30.0,330.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198.0,198.0,198.0,165.0,198.0,NaN,NaN

In [7]:
"""excel_file = 'Game/Buildings/building_requirements/all_buildings.xlsx'
sheets_dict = pd.read_excel(excel_file, sheet_name=None)
for sheet_name, df in sheets_dict.items():
    capitalized_sheet_name = sheet_name.capitalize()
    python_file_name = f"Game/Buildings/{capitalized_sheet_name}.py"  # Creates a Python file name with the capitalized sheet name
    with open(python_file_name, 'w') as file:
        file.write("from ..Building import Building\n"\
            f"class {capitalized_sheet_name}(Building):\n"\
                "\tdef __init__(self,level=0):\n"\
                    f"\t\tself.name = '{sheet_name}'\n"\
                    "\t\tself.level=level\n"\
                    "\t\tself.upgrade_requirements = super().read_requirements(level+1)\n"\
                    "\t\tsuper().__init__(self.name,self.level,self.upgrade_requirements)\n")"""

'excel_file = \'Game/Buildings/building_requirements/all_buildings.xlsx\'\nsheets_dict = pd.read_excel(excel_file, sheet_name=None)\nfor sheet_name, df in sheets_dict.items():\n    capitalized_sheet_name = sheet_name.capitalize()\n    python_file_name = f"Game/Buildings/{capitalized_sheet_name}.py"  # Creates a Python file name with the capitalized sheet name\n    with open(python_file_name, \'w\') as file:\n        file.write("from ..Building import Building\n"            f"class {capitalized_sheet_name}(Building):\n"                "\tdef __init__(self,level=0):\n"                    f"\t\tself.name = \'{sheet_name}\'\n"                    "\t\tself.level=level\n"                    "\t\tself.upgrade_requirements = super().read_requirements(level+1)\n"                    "\t\tsuper().__init__(self.name,self.level,self.upgrade_requirements)\n")'

In [1]:
import numpy as np
import matplotlib.pyplot as plt
record = np.load("./stats/Action_record_484c.npy")